<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .films{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 100%;
        }
        .film{
            display: flex;
            flex-direction: nowrap;
            height: 100%;
            width: 40%;
            padding: 10px;
            border: 2px solid black;
        }
        .numimg{
            display: flex;
            justify-content: space-between;
            height: 100%;
            margin-right: 10px;
        }
        .like{
            display: flex;
            justify-content: space-between;
            height: 50%;
            margin-right: 10px;
        }
        .d{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
        }
    </style>
    <title>Account</title>
</head>
<body>
<br>
<a href="/main">На главную страницу</a>
<br>
<div>Username: {{username}}</div>
<br>
<div>Favorite films</div>
<br>
<div class="films">
    {{#films}}
        <div class="film">
            <div class="numimg">
                <img src="{{image}}" width="100" height="150">
            </div>
            <div class="d">
                <div class="like">
                    <form method="post" action="toMovie">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <input type="hidden" name="filmID" value="{{stringId}}">
                        <button type="submit" style="font-weight: bold">{{title}}</button>
                    </form>
                </div>
                <br>
                <div>{{year}}</div>
                <br>
                <div>{{crew}}</div>
                <br>
                <div>IMDB Rating: {{imDbRating}}</div>
                <br>
                <div>Users Rating: {{averageRating}}</div>
            </div>
        </div>
    {{/films}}
</div>
</body>
</html>