<!DOCTYPE html>
<html>
<head>
    <title>Getting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, user</div>
<br>
<a href="/main">Топ 250</a>
</body>
</html>